<div class="col-lg-12">
    <button type="button" (click)="downloadAsPDF()" class="btn btn-primary">Genrate Pdf</button>
</div>
<div style="padding: 30px;font-family: Calibri; font-size: 11pt;" id="pdfTable" #pdfTable>
    <p>
        To,<br>
        [Bank Name]<br>
        [Bank Address]
    </p>
    <p>Dear Sir / Madam,</p>
    <!-- <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td style="width:40px;"> -->
                <!-- <p style="margin: 0px;">
                    Sub:
                </p> -->
            <!-- </td>
            <td> -->
                <p style="margin: 0px;">
                    Sub:  Filing of form ESOP for granting Employee Stock Option
                    XXXXXXXXXXXXXXXXXXXXXXXX (“the company”)
                </p>
            <!-- </td>
        </tr>
       
    </table> -->

    <p>With regards to the above cited subject <u>XXXXXXXXXXXXXXXXXXXXXXXX</u> (hereinafter referred to
        the
        “company”) had granted XXXXXXXX ESOPs under its Employee Stock Option Plan
        (XXXXXXXXXXXXXXXXXXXXXXXX) at INR XXXXXX/- per option to its various employees who are resident
        outside India (as per Annexure). The Board / EGM / Circular Resolution No: XXXXXXXXXX for
        granting the said ESOPs was passed on <u>XX-XX-XXXX</u>.</p>
    <p>Enclosed is the documentation for submission of ESOP:</p>

    <table  border="1" cellspacing="0" cellpadding="5">
        <thead>
            <th align="left">Sl. No.</th>
            <th align="left">Documentation</th>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>ESOP Scheme</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Resolution granting ESOPs</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Authorized Representative Declaration</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Certificate from the Practicing Company Secretary of the Indian company</td>
            </tr>
        </tbody>
    </table>

    <p>Kindly accept the same and oblige.</p>
    <br>
    <br>
    <p>For XXXXXXXXXXXXXXXXXXXXXXXX</p>
    <br>
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td colspan="3">
                __________________________
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td style="width: 30px; text-align:center;">
                :
            </td>
            <td>
                XXXXXXXXXXX
            </td>
        </tr>
        <tr>
            <td>
                Designation
            </td>
            <td style="width: 30px; text-align:center;">
                :
            </td>
            <td>
                XXXXXXXXXXX
            </td>
        </tr>
        <tr>
            <td>
                Date
            </td>
            <td style="width: 30px; text-align:center;">
                :
            </td>
            <td>
                XX-XX-XXXX
            </td>
        </tr>
    
    </table>
</div>
