<div class="container">
  <div class="static-slider-head background">
    <div class="container">
      <!-- Row  -->
      <div class="row justify-content-center">
        <!-- Column -->
        <div
          class="col-lg-9 col-md-6 align-self-center text-center title"
          data-aos="fade-up"
          data-aos-duration="1200"
        >
          <h1 class="title">
            <span style="color: #02b1f3">Save Money.</span
            ><span style="color: black"> Save Time.</span>
          </h1>
          <h5 class="subtitle op-5">
            India's largest tax and financial services software platform
          </h5>

          <button class="header-button">Get Started</button>
          <button class="header-button">Request a Demo</button>

          <!-- <a  routerLink="https://www.wrappixel.com/free-wrapkit-angular-blog" class="btn btn-md m-t-30 btn-danger-gradiant font-14">Get Started</a> -->
          <!-- <a  routerLink="https://www.wrappixel.com/free-wrapkit-angular-blog" class="btn btn-md m-t-30 btn-danger-gradiant font-14">Down</a> -->
        </div>
        <!-- Column -->
      </div>
    </div>
  </div>

  
</div>

<!-- <div clas="container">
  


    <div class="row mt-3">
      <div class="col-sm-12 col-xl-4">
        <label class="form-label"> Select module
        </label>
        <select #modulelist (change)="onModuleSelect(modulelist.value)" class="form-control form-select">
          <option ng-option value="">Select Module</option>
          <option *ngFor="let item of modules" [value]="item.id">{{ item.name }}</option>
        </select>
      </div>
      <div class="col-sm-12 col-xl-4">
        <label class="form-label"> Select Submodule
        </label>
  
        <select #Submodulelist (change)="onSubModuleSelect(Submodulelist.value)" class="form-control form-select">
          <option ng-option value="">Select SubModule</option>
          <option *ngFor="let s of filteredsubmodule" [value]="s.name">{{ s.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <app-form-esop *ngIf="Submodule=='Form ESOP'"></app-form-esop>
  <app-form-fc *ngIf="Submodule=='Form FC ( Overseas Direct Investment)'"></app-form-fc>
  <app-form-apr *ngIf="Submodule=='Form APR (Annual Performance Report)'"></app-form-apr>
  <app-form-opi *ngIf="Submodule=='Form OPI (Overseas Portfolio Investment)'"></app-form-opi> -->
