.normalheader {
    min-width: 320px;
    padding: 30px 0px 0;
}

.topic_header {
    padding: 5px 10px 0px;
}

.regulation_select_pdf , .rules_select_pdf {
    font-size: 1.5em;
    margin-left: 1em;
    color: #ff0000;
}

.topic_drop   .topic_title {
    font-size: 24px;
}

.topic_title   span {
    color: #08D9D6;
    font-family: inherit;
}

.sub-sector-main   .panel-body   h2 {
    margin-bottom: 0!important;
}

.topic_header   .font-light::nth-word(1) {
    color: #08D9D6;
    font-size: 25px;
}



.topic_drop   .form-group   label {
    margin: 0 15px 0 0;
    color: #888;
    font-weight: 700;
    font-size: 16px;
}

.topic_drop   .form-group   select {
    font-size: 14px;
    font-weight: 500 !important;
    color: #495057 !important;
    border-radius: 0;
    border-color: #e2e4e5;
}



.clip-header {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 8px;
    background: #f7f9fa;
    padding: 4px 5px;
    border-left: 1px solid #e4e5e7;
    border-bottom: 1px solid #e4e5e7;
}

.clip-header   svg {
    display: inline-block;
    transform: rotate(45deg);
}

.content {
    padding: 30px 0px 40px 00px;
    min-width: 320px;
}

.normalheader   .hpanel {
    margin-bottom: 0;
}

.hpanel {
    
    border: none;
    box-shadow: none;
    
}

.content   .hpanel:last-child {
    margin-bottom: 0;
}

.label_heading {
    font-size: 14px;
    background: #f1f3f6;
}

select.form-control {
    font-size: 13px;
}

select.form-control:focus {
    outline: none;
    box-shadow: none;
}

.fema_inner   .table {
    margin: 0;
    padding: 0;
    width: 99.9%;
        border-collapse: separate;
    border-spacing: 0 5px;
}

.fema_inner   .fema_tabs {
    margin: 0;
    width: 100%;
}



tbody > tr > td , thead > tr > th {
    padding: 12px 15px !important;
    vertical-align: top !important;
    border: 1px solid #E5ECF2;
    color: #52616B;
    font-size: 14px;
    height : 60px;
}

.fema_inner   .table   th {
    color: #52616B !important;
    font-weight: 700;
        padding: 18px 10px !important;
    background: #F9F9F9;
    border-right: 1px solid #E5ECF2;
    margin-bottom: 10px;
    white-space: break-spaces;
}

.fema_inner   .table   tr:nth-child(even) {
    background: hsla(203, 17%, 27%, 0.025);
}

.fema_inner   .table   tr:hover {
    background: hsla(203, 17%, 27%, 0.10);
}

.fema_inner   .table   tr   td:first-child, .fema_inner   .table   tr   th:first-child {
    text-align: center;
}

.fema_inner   .table   td   a {
    color: #007bff !important;
    margin: 2px 0 !important;
    display: inline-block;
}

.fema_inner   .table   td   a:hover {
    color: #08D9D6 !important;
    cursor: pointer;
}

.without-login {
    display: inline-flex;
}

.with-login {
    display: none;
}

.navbar-nav   li.nav-item   a.search_btn {
    padding: 15px 10px;
}

.navbar-nav   li.nav-item   a.search_btn   svg {
    font-size: 1rem;
    color: #a1a1a1;
}

.navbar-nav   li.nav-item.log_btn   .dropdown-menu   a {
    height: auto;
    text-align: left;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    padding: 7px 15px;
}

.navbar-nav   li.nav-item.log_btn   .dropdown-menu   a:hover {
    border: none;
}

.log_btn > .btn:hover, .log_btn > .btn:focus {
    border-color: #08d9d6 !important;
    background-color: #08d9d6 !important;
    box-shadow: none !important;
}

.log_btn > .dropdown-menu {
    right: 10px !important;
    left: auto;
    margin-top: 0;
}

.log_btn > .dropdown-menu   .dropdown-item {
    text-transform: capitalize;
}

.fema_btn {
    background: #52616B;
    border-color: #52616B;
    padding: 9px 16px 8px;
    font-size: 14px;
    line-height: 18px;
    height: 100%;
    letter-spacing: .03em;
    text-transform: uppercase;
    font-weight: 900;
}

.fema_btn:hover, .fema_btn:focus {
    background: #778c9f !important;
    border-color: #778c9f !important;
    box-shadow: none !important;
}

.login_btn > .btn {
    background: #08D9D6;
    border-color: #08D9D6;
    padding: 9px 16px 8px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .03em;
    text-transform: uppercase;
    font-weight: 900;
}

.login_btn > .btn:hover {
    background: #08d9d6;
    border-color: #08d9d6;
}

.chat-bot {
    position: fixed;
    right: 30px;
    bottom: 70px;
}

.chat-bot   a   img {
    width: 55px;
}



.fema_shortcut {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fema_shortcut.open   .dropdown-menu {
    display: block;
    left: 50%;
    padding-top: 5px;
    z-index: 999;
    text-align: left;
    width: auto;
    transform: translateX(-50%);
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
}

.fema_shortcut   .dropdown-menu   a {
    color: #52616B;
    padding: .35rem 1rem;
    border-bottom: 1px solid #eceaea;
    font-size: 14px;
}

.fema_shortcut   .dropdown-menu   a:last-child {
    border-bottom: 0;
}

.fema_shortcut   .dropdown-menu   a:hover, .fema_shortcut   .dropdown-menu   a:active, .dropdown-menu   a:hover, .dropdown-menu   a:active, .dropdown-menu   a:focus {
    background: #f8f9fa !important;
    color: #08D9D6 !important;
}

.fema_shortcut   .dropdown-menu   a   svg {
    margin-right: 10px;
}

.fema_shortcut   img {
    width: 20px;
    line-height: normal;
    float: left;
}

.fema_shortcut   a:hover   img {
    filter: brightness(0.4) invert(0);
}



.fema_tabs   nav {
    
    background: #F9F9F9;
    border-radius: 10px 10px 0px 0px;  
}

.fema_tabs nav .nav-tabs {
    border: none;
}

.fema_tabs   nav   .nav-tabs   a {
    display: block;
    font-weight: 700;
    text-align: center;
    color: #52616B;
    padding: 16px 15px;
}

.fema_tabs   nav   .nav-tabs > a {
    min-width: 120px;
}

.fema_tabs   nav   .nav-tabs   a   span {
    font-weight: 400;
    padding-left: 5px;
}

.search_tbl {
    margin-bottom: 20px;
    position: relative;
    padding-right: 1.2em;
    padding-left: 1.2em;
}

.search_tbl   input {
    border-radius: 0;
}

.search_tbl   .search_icon   button {
    background: transparent;
}

.search_tbl   input:focus {
    border-color: #ced4da !important;
    z-index: 0 !important;
    background: #fff !important;
}

.search_tbl   .search_icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0%, -40%);
}
.regulation_select   .fema_tabs.fema_innner_tab {
    margin: 0;
    width: 100%;
}
.regulation_select   .fema_innner_tab   nav {
    border: none;
    height: auto !important;
    text-align: center;
    background: no-repeat;
}

.regulation_select   .fema_innner_tab   .nav-tabs {
    height: auto !important;
    width: auto !important;
    display: inline-flex !important;
    max-width: none !important;
    border: 4px solid #f2f2f2;
    background: #f2f2f2;
}

.regulation_select   .fema_innner_tab   .nav-tabs   a {
    width: 210px !important;
    text-align: center !important;
    justify-content: center;
    border-radius: 0;
    color: #52616B;
}

.regulation_select   .fema_innner_tab   .nav-tabs   a.active {
    background: #08D9D6!important;
border-radius: 10px 10px 0px 0px;
    color: #fff!important;
    border-color: transparent!important;
    padding: 0rem 0.4rem;
    margin-top: -20px;
}

.regulation_select   .fema_innner_tab   .nav-tabs   a.active:hover {
    color: #52616B!important;
    border: 1px solid #fff;
}

.regulation_select   .fema_innner_tab   .nav-tabs   a:hover {
    color: #52616B !important;
    border: 1px solid #c4c4c4;
}

.regulation_select   .fema_innner_tab   nav   .nav-tabs   a.active::before, .regulation_select   .fema_innner_tab   nav   .nav-tabs   a:hover::before {
    content: none;
}

.regulation_select {
    margin-top: -31px;
    padding: 30px 0;
    margin-bottom: 30px;
    background: #fff;
}



.fema_inner   .tab-content   .tab-content {
   padding-top: 0!important;
    
}

.fema_inner   .tab-content   .tab-content   .table , .fema_inner   .tab-content   .table {
    width: 100%;
}

.fema_inner   .tab-content   .fema_tabs   nav {
    height: 54px;
}

.fema_inner   .tab-content   .fema_tabs   nav   .nav-tabs {
    height: 54px;
    justify-content: center;
}

.fema_inner   tbody > tr > td   table   tbody   tr:hover {
    background: transparent !important;
}

.fema_inner   tbody > tr > td {
    background: white !important;
}

.fema_inner   tbody > tr > td   table   tbody   tr > td {
    border: none;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.fema_inner   tbody > tr > td   table   tbody   tr > td:last-child   a {
    float: right;
}

.fema_inner   tbody > tr > td   table   tbody   tr > td   a {
    white-space: pre;
    padding: 0 0 5px;
    float: left;
}

.fema_inner   tbody > tr > td   table   tbody   tr > td   a:last-child {
    padding-bottom: 0;
}

.fema_inner   tbody > tr > td   table   tbody   tr > td > br {
    display: none;
}

.fema_inner   tbody > tr > td   table {
    width: 100%;
}

.fema_inner   tbody > tr > td   table   tbody   tr:hover {
    background: transparent;
}

.fema_inner   .tab-content   .fema_tabs   nav   .nav-tabs   a.active , .fema_tabs   nav   .nav-tabs   a.active , .fema_tabs   nav   .nav-tabs   a:hover {
    background: #08D9D6!important;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

.fema_inner   .tab-content   .fema_tabs   nav   .nav-tabs   a.active::before, .fema_inner   .tab-content   .fema_tabs   nav   .nav-tabs   a:hover::before {
    background: #08D9D6!important;
    border-radius: 10px 10px 0px 0px;
    color: #fff!important;
    border-color: transparent!important;
}



.pagination   .page-item:first-child   .page-link , .pagination   .page-item:last-child   .page-link {
    border-radius: 0;
}

.pagination   .page-item   a {
    color: #52616B;
}

.pagination   .page-item.active   a {
    background: #08D9D6;
    color: #fff;
    border-color: #08D9D6;
}

.pagination   .page-item.active   a:hover {
    color: #fff;
}

.pagination   .page-item   a:focus, .pagination   .page-item   a:hover {
    box-shadow: none;
    color: #08D9D6;
}

.fema_bg   .fema_inner   .table {
    width: 100%;
}

.fema_md_tabs   nav {
    border-top: 0;
    border-color: #f7f7f7;
    
}







input:focus {
    box-shadow: none !important;
    
}

.inner_frm {
    margin-top: 15px;
    position: relative;
}

.topic_drop.inner_frm   .form-group {
    
    margin-bottom: 2.2em !important;
}

.inner_frm   .form-group   label {
    margin: 0 10px 0 0;
    color: #52616B;
    font-weight: 700;
    font-size: 14px;
    width: 210px;
    white-space: initial;
    line-height: 1.5;
}

.sub-sector-main   .form-group   label {
    color: #52616B;
}

.sub-sector-main   .form-group   select , .sub-sector-main   .form-group   input {
    font-size: 14px;
    font-weight: 500 !important;
    color: #495057 !important;
    border-radius: 0;
    border-color: #e2e4e5;
    background: #f2f2f2;
}

.regulation_select   .topic_drop   .form-group   select , .regulation_select   .topic_drop   .form-group   input {
    font-size: 14px;
    font-weight: 500 !important;
    color: #495057 !important;
    border-radius: 0;
    border-color: #e2e4e5;
    background: #f2f2f2;
}

.inner_frm   .form-group   .input-group.date   input.form-control {
    margin-left: -2px;
}

.inner_frm   select {
    background: #f2f2f2 !important;
}

.radio_input   input {
    margin-right: 10px !important;
}

.radio_input {
    padding-left: 2em;
}

.radio_input   label {
    width: auto !important;
}

.inner_frm   .form-group   .form-check.form-check-inline   label {
    margin: 0;
    line-height: normal;
}

.inner_frm   .form-group   .input-group {
    position: relative;
}

.inner_frm   .form-group   input {
    border-radius: 0;
}

.inner_frm   .form-group   .input-group   .input-group-addon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.inner_frm_btn {
    display: flex !important;
    justify-content: flex-end;
    align-items: center !important;
}

.topic_drop.inner_frm   .inner_frm_btn {
    margin-bottom: 0 !important;
}

p {
    margin: auto;
}

.inner_frm_btn   .btn {
    background: #08D9D6;
    border-color: #08D9D6;
    border-radius: 0;
    margin: 15px 10px 0;
    min-width: 100px;
}

.inner_frm_btn   .btn-outline-primary {
    background: transparent;
    color: #08D9D6;
}

.inner_frm_btn   .btn-outline-primary:hover {
    color: #fff;
}

.inner_frm_btn   .btn:hover {
    background: #08d9d6;
    border-color: #08d9d6;
}

.fema_inner_tbl {
    background: #fff;
    border: 1px solid #e4e5e7;
    position: relative;
}

.fema_inner_tbl   .table {
    width: 100%;
}

.fema_orng {
    background: #08D9D6;
    border-color: #08D9D6;
    border-radius: 0;
    margin: 15px 10px 0;
    min-width: 100px;
}

.fema_orng:hover {
    background: #08d9d6;
    border-color: #08d9d6;
}



.index_table_cont {
    max-width: 950px;
    height: 85%;
    overflow-y: hidden;
}

.index_table_cont   .modal-header {
    background: #52616B;
    padding-top: 13px;
    padding-bottom: 13px;
}

.index_table_cont   .modal-header   .modal-title {
    color: #fff;
    line-height: normal;
}

.index_table_cont   .modal-header   .close {
    padding: 17px 15px 0 0;
    text-shadow: none;
    color: #fff;
    opacity: 1;
}

.index_table_cont   .modal-body {
    height: 92%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 10px;
}

.index_table_cont   .modal_navigation {
    margin: 8px 8px 17px 0 !important;
    display: inline-block;
    width: 100%;
    text-align: right;
}

.index_table_cont   .nav_inner {
    display: inline-block;
}

.index_table_cont   .nav_inner   a {
    border: 1px solid #08D9D6;
    padding: 6px 20px 4px;
    background: #fff;
    color: #08D9D6;
    margin: 0 5px;
    transition: all 0.3s ease;
}

.index_table_cont   .nav_inner   a:hover, .index_table_cont   .nav_inner   a:focus {
    background: #08D9D6;
    color: #fff;
    text-decoration: none;
}

.index_table_cont   table {
    border: 0;
    width: 100% !important;
}

.index_table_head {
    background: #2e74b5;
    padding: 1em 0 !important;
}

.index_table_head   p {
    margin: 0;
    color: #fff;
    width: 100%;
    text-align: center;
}

.index_table_subhead {
    background: #dde9f3;
    text-align: center;
    padding: 0.8em 5px !important;
}

.index_table_subhead   p {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
}

.index_table_cont   .modal-content {
    height: 100%;
    display: inline-block;
    width: 100%;
    overflow-y: auto;
}

.index_table_head {
    background: #2e74b5;
    padding: 1em 0 !important;
}

.index_table_head   p {
    margin: 0;
    color: #fff;
    width: 100%;
    text-align: center;
}

.index_table_head   b {
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.index_table_subhead {
    background: #dde9f3;
    text-align: center;
    padding: 0.8em 5px !important;
}

.index_table_subhead   p {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
}

.container[_ngcontent-vgx-c193]{    width: 100%;
    max-width: 100%;
    padding: 0 20px 0px 10px;}

.search_area   .search_box , .news_slid {
    width: 60%;
    margin: 0 auto;
    max-width: 570px;
    position: relative;
}

.search_area   .search_box   .input-group {
    z-index: 1040;
}

.search_area   .input-group   input:hover {
    cursor: pointer;
}

.search_area   .input-group:focus   input , .search_area   .input-group   input:focus {
    background: #ffffff61 !important;
    border-color: #52616B52 !important;
}

.search_area   .input-group   input::-moz-placeholder {
    color: #000;
}

.search_area   .input-group   input:-ms-input-placeholder {
    color: #000;
}

.search_area   .input-group   input::placeholder {
    color: #000;
}

.search_area   .input-group   input:focus {
    box-shadow: none;
}

.search_area   .input-group   .search_icon {
    position: absolute;
    left: 4px;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: 5px 0 0;
    text-align: center;
    padding: 0px;
    z-index: 1;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.search_rtl   ul > li {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0.15rem 0.5rem hsl(0 0% 0% / 0.15);
}

.search_rtl {
    width: 60%;
    margin: 0 auto;
    max-width: 570px;
    position: relative;
}

.search_rtl   ul > li   h1 {
    font-size: 20px;
    font-weight: 700;
    color: #08d9d6;
    line-height: 20px;
}

.search_rtl   ul > li:hover {
    cursor: pointer;
}

.search_rtl   ul > li:hover   h1 {
    color: #52616B;
}



.news_slid {
    width: 60%;
    margin: 0 auto;
    max-width: 570px;
    position: relative;
    min-height: 110px;
}

.search_display   .news_slid {
    min-height: 115px;
}

.search_area {
    line-height: 1.4;
    font-size: 15px;
    color: #52616B;
    background: #fff;
    width: 100%;
    min-height: calc(100vh - 194px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

@font-face {
    font-family: "Circular Std";
    src: url('Circular Std Font.0cea81af04a7c6961f54.otf') format("opentype")
}

.article   .rounded-3 {
    max-width: 280px;
    left: 0;
    right: 0;
    margin: 0px auto 0px;
}

.user_text {
    font-size: 34px;
    color: #11263c;
    font-weight: bold;
    
    line-height: 140%;
    max-width: 280px;
    margin-left: 5px;
}

.content   .user_text {
    margin-left: 0px;
}

.user_text   svg {
    display: block;
    margin: auto;
    position: relative;
    top: 50px;
}

.collapsed_article_background {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-size: cover;
    background-position: top;
    display: inline-block;
}

.collapsed_user_text   svg {
    top: 15px;
    height: 35px;
    width: 35px;
}

.collapsed_articles_title , .collapsed_articles_description {
    display: inline-block;
    margin-top: 5px;
    margin-right: 115px;
    float: right;
}

.collapsed_articles_description {
    margin-top: -50px;
}
.collapsed_article {
    margin-bottom: -10px;
}

.collapsed_dropdown:hover {
    background: #08D9E6;
    color: white;
}

.collapsed_dropdown svg:hover {
    color: white;
}

.seperator {
    
    width: 277px;
    height: 0px;
    border: 1px solid #F5F7FB;
    left: 0;
    right: 0;
    margin: 20px auto;
}

.collapsed_dropdown {
    background: #F9F9F9;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 30px;
    color: #08d9d6;
    text-align: center;
    font-size: 16px;
    padding-top: 3px;
    font-weight: normal;
    cursor: pointer;
}

.news_title {
    display: block;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px;
    line-height: 100%;
    color: #11263c;
    margin: 30px 10px 0px 15px;
}

.news_box   span {
    font-style: normal;
    margin: 20px 10px 0px 15px;
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    color: #52616B
}

.subscription_box   .card_box , .news_box   .card_box {
    flex: 0 0 30%;
    max-width: 280px;
    left: 0;
    right: 0;
    margin: 15px auto;
}

.news_box   .card_box {
    height: 285px;
}

.subscription_box   .card_box , .news_box   .card_box {
    border: none;
    cursor: pointer;
    background-image: url('/assets/images/latestnews_background.png');
}

.subscription_box   img , .news_box   img {
    max-width: 280px;
}

.subscription_box   .card_box_text , .news_box   .card_box_text {
    text-align: left;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    
    
}

.search_tbl {
    margin-bottom: 20px;
    position: relative;
    padding-right: 1.2em;
    padding-left: 1.2em;
}

.search_tbl   input {
    border-radius: 0;
}

.searching {
    box-shadow: 0 0rem 0.8rem hsl(0 0% 0% / 0.15);
}

.searching   .filter-select {
    box-shadow: 0 0rem 0.8rem hsl(0 0% 0% / 0.15);
}

.searching   .input-group   input:focus {
    border: none !important;
    box-shadow: none !important;
    background: #fff !important;
}

.search_main   .filter-select {
    width: 100%;
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%);
    padding: 15px 0;
    background: #fff;
    z-index: 1038;
    margin: 0;
}

.search_box {
    position: relative;
    background: #fff;
}

.box {
    display: inline-block;
    max-width:79%

}



.download   svg {
    margin-right: 10px
}

.search_main {
    
        margin-top: 1.5rem;
    width: 300px;
    margin-left: auto;
}

.search_display {
    
}

.search_display_inner.searching   .form-control , .search_display_inner.searching   .form-group {
    border-bottom: 0;
}

.search_display_inner   .filter-select {
    box-shadow: 0 0.1rem 0.4rem hsl(0 0% 0% / 0.15);
    left: 50% !important;
}

.search_display_inner   .form-group {
    
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1039;
}

.search_display_inner   .form-group   .fa-search , .search_display_inner   .form-group   .sheets {
    position: absolute;
    color: white;
    font-size: 22px;
    width: 52px;
    height: 46px;
    right: 1px;
    top: 1px;
    background: #08d9d6;
    padding: 15px;
    font-weight: 400;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search_display_inner   .form-group   .sheets {
    left: 1px;
    background: #E5ECF2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search_display_inner   .form-group   input {
    background: #FFFFFF!important;
    border: 1px solid #08D9D6;
    box-sizing: border-box;
    box-shadow: 0px 3px 10px rgba(70, 100, 120, 0.16);
    border-radius: 7px;
    color: #394951;
    font-weight: normal;
    font-size: 16px;
    padding: 13px 8px 13px 2rem;
    width: 100%;
    height: 48px;
    color: #000;
    margin-bottom: 0;
    transition: all 0.5s ease;
    z-index: 0 !important;
}

.search_display_inner   .form-group   input:focus {
    box-shadow: none !important;
    outline: none;
    border: initial;
}

.search_display_inner   .form-group   input::-moz-placeholder {
    color: #11263c;
}

.search_display_inner   .form-group   input:-ms-input-placeholder {
    color: #11263c;
}

.search_display_inner   .form-group   input::placeholder {
    color: #11263c;
}

.search_display_inner   .filter-select:after {
    content: '';
    background: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -51px;
    left: 0;
    z-index: -1;
}



.search_result   nav   .nav-tabs {
    margin: 0 auto;
    height: 64px;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.search_result   nav   .nav-tabs   a {
    border: none;
    position: relative;
    width: auto !important;
    display: flex;
    flex: inherit;
    font-weight: 600;
    color: #9ca4a8;
    align-items: center;
    height: 100%;
    font-size: 16px;
    background: none !important;
}

.search_result   nav   .nav-tabs   a.active {
    color: #08d9d6;
}

.search_result   nav   .nav-tabs   a   span {
    font-weight: 400;
    padding-left: 5px;
}

.search_result   nav   .nav-tabs   a.active::before, .search_result   nav   .nav-tabs   a:hover::before {
    content: '';
    height: 4px;
    width: 100%;
    background: #08d9d6;
    position: absolute;
    bottom: 1px;
    left: 0;
    z-index: 1;
}

.search_result   .tab-content {
    margin: 0 auto;
    
    
}



.searchResults_result {
    padding: 20px 20px 30px 20px;;
    margin: 30px 0;
    background: #FFFFFF;
    border-radius: 10px;
    width: -webkit-fill-available;
}

.searchResults_result   a:hover {
    text-decoration: none;
}

.searchResults_result   a   h4 {
    text-transform: capitalize;
    font-size: 24px;
    line-height: 140%;
    color: #11263c;
    font-weight: 400;
    margin-bottom: 10px;

}

.searchResults_result   .boxwrapper {
    height: 120px;
    background: #f9f9f9;
    border-radius: 10px;
    font-size: 16px;
    line-height: 140%;
    color: #11263c;
    text-align: inherit;
    padding: 25px;
}

.searchResults_result   h4[_ngcontent-vgx-c193]
{font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 140%;
color: #11263C;
margin-bottom: 20px;
    margin-right: 5px;
}

.search_display_inner {
    position: relative;
}



.search_result_page   ul {
    margin: 20px auto 40px;
}

.search_main   .filter-select:before {
    content: '';
    background: #ededed;
    height: 1px;
    width: 95%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

.searching   .close_rlt {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
    color: #52616B;
    display: inline-block;
}

.searching   .close_rlt:hover {
    cursor: pointer;
}

.search_tbl   .search_icon   button {
    background: transparent;
}

.search_tbl   input:focus {
    border-color: #ced4da !important;
    z-index: 0 !important;
    background: #fff !important;
}

.search_tbl   .search_icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0%, -40%);
}

@media only screen and (max-width: 480px) {
    .search_area   .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media only screen and (max-width: 1280px) {
    div#myTabContent.tab-content    > .tab-pane {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 767px) {
    .topic_drop   .form-group {
        display: inline-block;
    }
    .hpanel   .panel-body {
        margin: 0;
        padding: 20px 20px;
    }
    .regulation_select   .fema_innner_tab   .nav-tabs {
        height: 60px;
    }
    .regulation_select   .fema_innner_tab   .nav-tabs   a {
        height: 100%;
    }
    .regulation_select   .fema_innner_tab   .nav-tabs   a {
        width: 160px !important;
        font-size: 14px;
        padding: .5rem .3rem;
    }
    .regulation_select {
        padding: 20px 0px 20px;
    }
    .regulation_select   .topic_drop {
        margin: 0 0 20px;
        padding: 0 10px;
    }
    .fema_tabs   nav   .nav-tabs , .fema_tabs   nav {
        height: auto;
    }
    .fema_tabs {
        width: calc(100% + 40px);
        margin: 0 -20px;
    }
    .fema_tabs   nav   .nav-tabs   a {
        padding: 15px;
        width: 100% !important;
        justify-content: center;
    }
}

@media only screen and (max-width: 480px) {
    .search_area   .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

}



#rbi-compounding-orders[_ngcontent-vgx-c193]{
    width: 100%!important
}



thead > tr > th:first-child, tbody > tr > td:first-child {   
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

thead > tr > th:last-child, tbody > tr > td:last-child {   
 border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

button.bg-info1   svg   path {
    fill: #fff;
}

button.bg-info1:hover {
    background: #fff!important;
    color: #08D9D6!important;
    border: 1px solid #08D9D6;
    cursor: pointer;
}

button.bg-info1:hover   svg   path {
    fill: #08D9D6;
}