.del { 
    text-decoration: line-through;
  }
  .notdel{
    text-decoration: auto;
  }
  .invalid-feedbackradio {
    /* display: none; */
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
  color: #fff;
  background: #02B1F3;
  border-radius: 10px 10px 0px 0px;
}