.submenu li {

    padding-left:15px;
    
    }
    
    ul li + .submenu {
    
    display: none;
    
    }
    ul li.active + .submenu {

        display: block;
        
        list-style: none;
        
        }
        .dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.875rem 0.75rem !important;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}