.submenu li {

    padding-left:15px;
    
    }
    
    ul li + .submenu {
    
    display: none;
    
    }
    ul li.active + .submenu {

        display: block;
        
        list-style: none;
        
        }
        .dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.875rem 0.75rem !important;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.quote_bg {
  background: url('../assets/images/home/Quote.png') center center/cover;
  border-radius: 20px;
  padding: 57px 117px;
  position: relative;
}

.get_quote {
  margin: -150px 0 0;
  width: 100%;
  left: 0;
  top: 0;
}

.footer_site {
  margin-bottom: 40px;
  position: relative;
}
.footer_site:after {
  content: '';
  height: 3px;
  width: 64px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -20px;
}
.copy_r {
  border-top: 1px solid #ffffff26;
  padding: 25px 0;
  margin-top: 40px;
}
footer {
  padding-top: 150px;
  background: #02B1F3;
}