.del { 
    text-decoration: line-through;
  }
  .notdel{
    text-decoration: auto;
  }
  .active{
    background: aliceblue;
  }
  .toast-top-left {
    bottom: 0;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 100%;
  }