<div class="jumbotron mt-3">
    <h5>Instructions</h5>

    Instructions for filling up the Form FC
    <ol>
        <li>The Form FC is required to be submitted to the designated AD bank by the person resident
            in India seeking to invest in the foreign entity, whether under Automatic Route or
            Approval Route.
       
        <li> Under Approval Route, the Form FC after scrutiny, should be submitted by the AD bank,
            to the Reserve Bank as per the instructions in Para 3 of FEM (Overseas Investment)
            Directions, 2022.</li>
        <li> The Form FC is to be submitted while undertaking financial commitment in a foreign
            entity, at the time of sending outward remittance or making a financial commitment,
            whichever is earlier.</li>
        <li> In case of acquisition of equity capital on deferred payment basis in accordance with
            Regulation 7 of OI Regulations, the part of the consideration, payment of which is
            deferred by the person resident in India shall be treated as non-fund-based commitment
            and shall be reported accordingly. Subsequent remittance towards the payment of deferred
            consideration shall be reported in Form FC as conversion of non-fund-based commitment to
            equity capital. This subsequent remittance will not be treated as fresh financial
            commitment for the purpose of the investment limit. Thus, there will be two submissions
            in case of deferred payment and in case of delay in any of the submissions, facility of
            Late Submission Fee may be availed.</li>
        <li> In the case of non-fund based financial commitment, Form FC can be submitted before
            undertaking such financial commitment. Any change in the date of undertaking the
            financial commitment or the validity date, as the case may be, in the submitted Form FC
            for such financial commitment, shall be informed to the AD bank latest by the next
            working day from the date of undertaking such financial commitment.</li>
        <li> Any roll-over of a guarantee must be reported in Form FC.</li>
        <li> Along with Section A and B of Form FC only the relevant section(s), as applicable, may
            be submitted. For undertaking financial commitment, including roll-over and conversion
            of loan to equity, transaction details in Section C, declaration by the Indian
            entity/resident individual in Section D and certificate by the Statutory Auditors of the
            Indian entity /group company, as the case may be, in Section E shall be submitted.</li>
        <li> While undertaking remittance towards acquisition of equity capital on deferred payment
            basis, where Form FC was already submitted with duly filled Sections D & E, as non-fund
            based commitment, these Sections may not be furnished again. A copy of the earlier
            furnished Form FC may be submitted to AD for reference.</li>
        <li> For subsequent remittances, Section A and B may not be filled unless there is any
            change in the details of the person resident in India/ foreign entity/ SDS/ capital
            structure submitted at the time of reporting of previous Form FC.</li>
        <li> In case of issuance of guarantee by a group company, it shall be counted towards the
            utilization of its financial commitment limit independently and if such group company
            has any fund-based exposure to or from the Indian entity the same shall be deducted from
            the Net worth of such group company for computing its financial commitment limit and
            shall be reported accordingly as provided in Regulation 5(2) of OI Regulations.</li>
        <li> AD may ensure that any financial commitment by an Indian entity by way of loan is duly
            backed by a loan agreement and that rate of interest as mentioned in such agreement is
            charged on an arm’s length basis.</li>
        <li> AD bank may ensure that as on the date of undertaking the actual financial commitment,
            the person resident in India does not breach the limit of financial commitment
            prescribed by Reserve Bank.</li>
        <li> In case of personal guarantee issued by a resident individual promoter, such guarantee
            shall be reckoned towards the financial commitment limit of the Indian entity.</li>
        <li> In case more than one person resident in India is investing in the same foreign entity,
            Form FC shall be submitted individually by all such investing persons to the designated
            branch of the AD bank. The AD bank should report the forms online indicating details of
            each party. The Reserve Bank would allot only one UIN to a foreign entity.</li>
        <li> The level of step-down subsidiary (SDS) shall be calculated treating the foreign entity
            as the parent. So, an SDS directly under the direct foreign entity should be treated as
            first level SDS. Accordingly, an SDS under the first level SDS would be treated as
            second level SDS, so on and so forth.</li>
        <li> Section F of Form FC is required to be submitted by such person resident in India whose
            financial commitment changes as a result of the restructuring of the balance sheet of
            the foreign entity. This should be submitted within 30 days from the date of such
            restructuring.</li>
        <li> The Form FC is to be submitted while undertaking disinvestment in a foreign entity,
            within 30 days from the date of receipt of disinvestment proceeds (inward remittance).
            Where the disinvestment proceeds are received in tranches in accordance with the
            agreement, each such receipt shall be reported in Form FC.</li>
        <li> All amounts of foreign currency (FCY) and Indian Rupees (INR) should be in actuals
            only.</li>
        <li> The name of the FCY may be indicated as per SWIFT code.</li>
        <li> The dates shall be in the format of DD/MM/YYYY.</li>
        <li> The activity code as per NIC 1987 and NIC 2008 shall be furnished.</li>
        <li> Each page of the Form FC should be duly signed and stamped with date by the person
            resident in India submitting the same.</li>
        <li> Reserve Bank reserves the right to put the information furnished here in the public
            domain.</li>

    </ol>
</div>
