<form [formGroup]="reactiveForm" #form="ngForm">
    <div class="row g-4 mt-2">
        <div class="col-sm-12 col-xl-4">
            <label for="investment_ForeignEntity" class="form-label">Name of foreign entity
            </label>
            <input type="text" id="investment_ForeignEntity" name="investment_ForeignEntity"
                formControlName="investment_ForeignEntity" placeholder="Name of foreign entity" required minlength="1"
                maxlength="250" class="form-control form-control-sm"
                [class.is-invalid]="investment_ForeignEntity.invalid && (investment_ForeignEntity.dirty || investment_ForeignEntity.touched)">
            <div *ngIf="investment_ForeignEntity.invalid && (investment_ForeignEntity.dirty || investment_ForeignEntity.touched)"
                class="invalid-feedback">
                <div *ngIf="investment_ForeignEntity.errors?.['required']">
                    This field is required.
                </div>
                <div *ngIf="investment_ForeignEntity.errors?.['minlength']">
                    This field must have at least 1 character.
                </div>
                <div *ngIf="investment_ForeignEntity.errors?.['maxlength']">
                    This field must have at most 250 characters.
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-4">
            <label for="investment_Jurisdiction" class="form-label">Country/ jurisdiction
            </label>
            <select class="form-control"
                [class.is-invalid]="investment_Jurisdiction.invalid && (investment_Jurisdiction.dirty || investment_Jurisdiction.touched)"
                formControlName="investment_Jurisdiction" placeholder="Please Select">
                <option *ngFor=" let object of Jurisdictiontypes" value="{{object.id}}">
                    {{object.name}}
                </option>
            </select>
            <div *ngIf="investment_Jurisdiction.invalid && (investment_Jurisdiction.dirty || investment_Jurisdiction.touched)"
                class="invalid-feedback">
                <div *ngIf="investment_Jurisdiction.errors?.['required']">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-4">
            <label for="investment_DateIncorpation" class="form-label">Date of incorporation of the foreign entity
            </label>
            <input type="date" id="investment_DateIncorpation" name="investment_DateIncorpation"
                formControlName="investment_DateIncorpation" placeholder="Date of incorporation of the foreign entity"
                required minlength="1" maxlength="250" class="form-control form-control-sm"
                [class.is-invalid]="investment_DateIncorpation.invalid && (investment_DateIncorpation.dirty || investment_DateIncorpation.touched)">
            <div *ngIf="investment_DateIncorpation.invalid && (investment_DateIncorpation.dirty || investment_DateIncorpation.touched)"
                class="invalid-feedback">
                <div *ngIf="investment_DateIncorpation.errors?.['required']">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-4">
            <label for="investment_LEI" class="form-label">Legal Entity Identifier (LEI) of the foreign entity
            </label>
            <input type="text" id="investment_LEI" name="investment_LEI" formControlName="investment_LEI"
                placeholder="Legal Entity Identifier (LEI) of the foreign entity" required minlength="1" maxlength="250"
                class="form-control form-control-sm"
                [class.is-invalid]="investment_LEI.invalid && (investment_LEI.dirty || investment_LEI.touched)">
            <div *ngIf="investment_LEI.invalid && (investment_LEI.dirty || investment_LEI.touched)"
                class="invalid-feedback">
                <div *ngIf="investment_LEI.errors?.['required']">
                    This field is required.
                </div>
                <div *ngIf="investment_LEI.errors?.['minlength']">
                    This field must have at least 1 character.
                </div>
                <div *ngIf="investment_LEI.errors?.['maxlength']">
                    This field must have at most 250 characters.
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-8">
            <label class="form-label">Whether the person resident in India has control in foreign
                entity (Refer to the definition of "control" in the OI Rules)
            </label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" required formControlName="investment_ControlFE"
                 id="investment_ControlFE" name="investment_ControlFE" value="Yes"
                 [class.is-invalid]="investment_ControlFE.invalid && (investment_ControlFE.dirty || investment_ControlFE.touched)">
                <label class="form-check-label" for="inlineRadio1">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" required formControlName="investment_ControlFE" id="investment_ControlFE"
                 name="investment_ControlFE" value="No"
                 [class.is-invalid]="investment_ControlFE.invalid && (investment_ControlFE.dirty || investment_ControlFE.touched)">
                <label class="form-check-label" for="inlineRadio2">No</label>
              </div>
              <div *ngIf="investment_ControlFE.invalid && (investment_ControlFE.dirty || investment_ControlFE .touched)"
              class="invalid-feedback">
              <div *ngIf="investment_ControlFE.errors?.['required']">
                  This field is required.
              </div>
              </div>
        </div>
        <div class="col-sm-12 col-xl-4">
            <label class="form-label"> Accounting year followed by the foreign entity
            </label>
            <select class="form-control"
                [class.is-invalid]="investment_AccountingYear.invalid && (investment_AccountingYear.dirty || investment_AccountingYear.touched)"
                formControlName="investment_AccountingYear">
                <option *ngFor=" let object of accountingtypes" value="{{object.id}}">
                    {{object.name}}
                </option>
            </select>
            <div *ngIf="investment_AccountingYear.invalid && (investment_AccountingYear.dirty || investment_AccountingYear.touched)"
                class="invalid-feedback">
                <div *ngIf="investment_AccountingYear.errors?.['required']">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-4">
            <label for="investment_Email" class="form-label"> E-mail ID of the foreign entity
            </label>
            <input type="text" id="investment_Email" name="investment_Email" formControlName="investment_Email"
                placeholder="E-mail ID of the foreign entity" required minlength="1" maxlength="250"
                class="form-control form-control-sm"
                [class.is-invalid]="investment_Email.invalid && (investment_Email.dirty || investment_Email.touched)">
            <div *ngIf="investment_Email.invalid && (investment_Email.dirty || investment_Email.touched)"
                class="invalid-feedback">
                <div *ngIf="investment_Email.errors?.['required']">
                    This field is required.
                </div>
                <div *ngIf="investment_Email.errors?.['minlength']">
                    This field must have at least 1 character.
                </div>
                <div *ngIf="investment_Email.errors?.['maxlength']">
                    This field must have at most 250 characters.
                </div>
            </div>
        </div>
        <div class="container">
            <table class="table table-striped table-bordered mt-3">
                <thead>
                    <tr>
                       
                        <th scope="col">Activity code of IE (1987)
                            Class + Description


                        </th>
                        <th scope="col">Activity code of IE (2008)
                            Class + Description


                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dynamic of CodeClassArray; let i = index;">
                        
                        <td>
                            <input [(ngModel)]="CodeClassArray[i].Description1987"
                                [ngModelOptions]="{standalone: true}" class="form-control"
                                type="text" />
                        </td>
                        <td>
                            <input [(ngModel)]="CodeClassArray[i].Description2008"
                                [ngModelOptions]="{standalone: true}" class="form-control"
                                type="text" />
                        </td>
                        <td>
                            <button type="button" (click)="addCodeClassRow()"
                                class="btn btn-outline-primary me-2">+</button>
                            <button type="button" *ngIf="codeClasslength>1"
                                (click)="deleteCodeClassRow(i)"
                                class="btn btn-outline-primary me-2">-</button>

                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered caption-top table-responsive">
                <caption>Financial commitment being made w.r.t above foreign entity (in INR and FCY) 
                    SECTION C OF FORM-FC TO BE IMPLEMENTED                    
                </caption>
                <thead>
                    <tr>
                      
                        <th scope="col">Method or source of investments
                        </th>
                        <th scope="col">Category of investments
                        </th>
                        <th scope="col"> Date
                        </th>
                        <th scope="col">Amount (in FCY)</th>
                            <th> Amount (in INR)                         
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dynamic of FinancialCommitmentArray; let i = index;">
                    
                        <td>
                            <input [(ngModel)]="FinancialCommitmentArray[i].InvestSource"
                                [ngModelOptions]="{standalone: true}" class="form-control"
                                type="text" />
                        </td>
                        <td>
                            <select class="form-control"
                            [(ngModel)]="FinancialCommitmentArray[i].CategoryType"
                            [ngModelOptions]="{standalone: true}">
                            <option *ngFor=" let object of invetmentsCategorytypes" value="{{object.id}}">
                                {{object.name}}
                            </option>
                        </select>
                        </td>
                        <td>
                            <input [(ngModel)]="FinancialCommitmentArray[i].Date"
                                [ngModelOptions]="{standalone: true}" class="form-control"
                                type="date" />
                        </td>
                        <td>
                           
                            <input [(ngModel)]="FinancialCommitmentArray[i].AmountFCY"
                            [ngModelOptions]="{standalone: true}" class="form-control"
                            type="text" />
                        </td>
                        <td>
                            <input [(ngModel)]="FinancialCommitmentArray[i].AmountINR"
                            [ngModelOptions]="{standalone: true}" class="form-control"
                            type="text" />
                       
                        </td>
                        <td>
                            <button type="button" (click)="addFinancialCommitment()"
                                class="btn btn-outline-primary me-2">+</button>
                            <button type="button" *ngIf="FinancialCommitmentlength>1" (click)="deleteFinancialCommitment(i)"
                                class="btn btn-outline-primary me-2">-</button>

                        </td>
                    </tr>
                </tbody>
            </table>
          


        </div>
        <button type="button" class="btn btn-sm btn-primary col-sm-1 col-xl-1 mb-3" (click)="validate()">Next</button>
    </div>
</form>