<div class="row g-4">
    <div class="col-sm-12 col-xl-4">
        <label class="form-label">Name of foreign entity
        </label>
        <input type="text" class="form-control">
    </div>
    <div class="col-sm-12 col-xl-4">
        <label class="form-label">Country/ jurisdiction
        </label>
        <input type="text" class="form-control">
    </div>
    <div class="col-sm-12 col-xl-4">
        <label class="form-label">Startup
            Strategic sector
            Financial Services
            Others
        </label>
        <input type="text" class="form-control">
    </div>
    <div class="col-sm-12 col-xl-4">
        <label class="form-label">Date of incorporation of the foreign entity
        </label>
        <input type="text" class="form-control">
    </div>
    <div class="col-sm-12 col-xl-4">
        <label class="form-label">Legal Entity Identifier (LEI) of the foreign entity
        </label>
        <input type="text" class="form-control">
    </div>
    <div class="col-sm-12 col-xl-4">
        <label class="form-label">Whether the person resident in India has control in the foreign
            entity (Refer to the definition of "control" in the OI Rules)
        </label>
        <input type="text" class="form-control">
    </div>
    <div class="col-sm-12 col-xl-4">
        <label class="form-label">Country/ jurisdiction
        </label>
        <input type="text" class="form-control">
    </div>
    <div class="container">

        <div class="flex-nowrap my-2 overflow-auto row">
            <div class="col-3">
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
            </div>
            <div class="col-3">
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div><button>Add</button></div>
            </div>
            <div class="col-3">
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
            </div>
            <div class="col-3">
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
            </div>
            <div class="col-3">
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
            </div>
            <div class="col-3">
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
            </div>
            <div class="col-3">
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
                <div class="col">
                    One of three columns
                </div>
            </div>
        </div>


    </div>
    <!-- <button type="button" class="btn btn-sm btn-primary col-sm-1 col-xl-1 mb-3" (click)="validate()">Next</button> -->
</div>