<div class="container">
    <div class="card mt-2">
        <div class="card-header p-2">
           <h5> Form ESOP</h5>
        </div>
    </div>

    <div class="card p-2">
        <h5>Instructions</h5>

        Instructions for filling up the Form FC
        <ul>
            <li>1) The Form FC is required to be submitted to the designated AD bank by the person resident in India
                seeking to invest in the foreign entity, whether under Automatic Route or Approval Route. </li>
            <li> 2) Under Approval Route, the Form FC after scrutiny, should be submitted by the AD bank, to the Reserve
                Bank as per the instructions in Para 3 of FEM (Overseas Investment) Directions, 2022.</li>
            <li>3) The Form FC is to be submitted while undertaking financial commitment in a foreign entity, at the
                time of sending outward remittance or making a financial commitment, whichever is earlier. </li>
            <li>4) In case of acquisition of equity capital on deferred payment basis in accordance with Regulation 7 of
                OI Regulations, the part of the consideration, payment of which is deferred by the person resident in
                India shall be treated as non-fund-based commitment and shall be reported accordingly. Subsequent
                remittance towards the payment of deferred consideration shall be reported in Form FC as conversion of 
            </li>
        </ul>
    </div>
    <div class="card p-2 mt-1">
    <div class="container-fluid position-relative d-flex p-0">
        <div class="container-fluid pt-2">
            <div class="row">

                <div class="col-4 mb-2">
                    <label class="form-label">Name of the Investee Company
                    </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-4 mb-2">
                    <label class="form-label">Corporate Identification Number (CIN/LLP) </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-4 mb-2">
                    <label class="form-label">PAN Number
                    </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-4 mb-2">
                    <label class="form-label">ESOP Scheme Name
                    </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-4 mb-2">
                    <label class="form-label">BR / EGM / Circular Resolution No.
                    </label>
                    <input type="text" class="form-control">
                </div>


                <div class="col-4 mb-2">
                    <label class="form-label">Date of Resolution
                    </label>
                    <input type="text" class="form-control">
                </div>
            </div>
            </div>
        </div>
    </div>