<div class="container">
    <div class="card mt-2">
        <div class="card-header p-2">
            <h5> Form ESOP</h5>
        </div>
    </div>

    <div class="card p-2">
        <h5>Instructions</h5>

        Instructions for filling up the Form FC
        <ul>
            <li>1) The Form FC is required to be submitted to the designated AD bank by the person resident in India
                seeking to invest in the foreign entity, whether under Automatic Route or Approval Route. </li>
            <li> 2) Under Approval Route, the Form FC after scrutiny, should be submitted by the AD bank, to the Reserve
                Bank as per the instructions in Para 3 of FEM (Overseas Investment) Directions, 2022.</li>
            <li>3) The Form FC is to be submitted while undertaking financial commitment in a foreign entity, at the
                time of sending outward remittance or making a financial commitment, whichever is earlier. </li>
            <li>4) In case of acquisition of equity capital on deferred payment basis in accordance with Regulation 7 of
                OI Regulations, the part of the consideration, payment of which is deferred by the person resident in
                India shall be treated as non-fund-based commitment and shall be reported accordingly. Subsequent
                remittance towards the payment of deferred consideration shall be reported in Form FC as conversion of 
            </li>
        </ul>
    </div>
    <div class="card p-2 mt-1">
        <div class="card-header">
            ESOP Details
          </div>
        <div class="container-fluid position-relative d-flex p-0">
            <div class="container-fluid pt-2">
                <div class="row">
                    <div class="col-4 mb-2">
                        <label class="form-label">Name of the Investee Company
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Corporate Identification Number (CIN/LLP) </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">PAN Number
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">ESOP Scheme Name
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">BR / EGM / Circular Resolution No.
                        </label>
                        <input type="text" class="form-control">
                    </div>


                    <div class="col-4 mb-2">
                        <label class="form-label">Date of Resolution
                        </label>
                        <input type="text" class="form-control">
                    </div>


                    <div class="col-4 mb-2">
                        <label class="form-label">Entry Route
                        </label>
                        <select class="form-select">
                            <option value="Automatic Route">Automatic Route</option>
                            <option value="Government Route">Government Route(Attach Copy Of Government Approval)
                            </option>
                        </select>
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Applicable Sectoral cap/ Statutory ceiling
                        </label>
                        <select class="form-select">
                            <option value="20">20%</option>
                            <option value="26">26%</option>
                            <option value="49">49%</option>
                            <option value="51">51%</option>
                            <option value="74">74%</option>
                            <option value="100">100%</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">No</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <label class="form-check-label" for="inlineRadio3">Whether the foreign investment is received for a specific project/manufacturing unit or manufacturing plant</label>
                          </div>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">No</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <label class="form-check-label" for="inlineRadio3">Whether the change in the shareholding pattern due to this transaction being reported has already been accounted in the pre transaction shareholding pattern:*</label>
                          </div>
                    </div>
                    <hr>
                    <div class="col-4 mb-2">
                        <label class="form-label">Full Name of the Grantee
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Date of Issue
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Number of ESOPs Granted
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Country
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Residential Status
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Name of the Subsidiary . SDS
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Pre-determined issue price
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Conversion ratio
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Equivalent equity shares on fully diluted basis
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Face value of equity shares
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Value of Shares in Rs
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="card-header">
                        Declaration
                      </div>
                      <div class="col-lg-10">
                        1. We comply with the procedure for issue of equity instruments as laid down under Foreign Exchange Management (Non-Debt Instruments) Rules, 2019 dated October 17, 2019 and as amended from time to time.
                      </div>
                      <div class="col-lg-2">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                      </div>
                      <div class="col-lg-10">
                        2. The investment is within the sectoral cap / statutory ceiling permissible under the rules, ibid and in compliance with the attendant conditions.
                      </div>
                      <div class="col-lg-2">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                      </div>
                      <div class="col-lg-10">
                        3. The equity instruments issued under a scheme of merger and amalgamation of two or more Indian companies or reconstruction by way of de-merger or otherwise of an Indian company is duly approved by a court in India. (Strike- out if not applicable).
                      </div>
                      <div class="col-lg-2">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                      </div>
                      <div class="col-lg-10">
                        4. The foreign investment received and reported now will be utilized in compliance with the provision of a Prevention of Money Laundering Act 2002 (PMLA) and Unlawful Activities (Prevention) Act, 1967 (UAPA). We confirm that the investment complies with the provisions of all applicable Rules and Regulations.
                      </div>
                      <div class="col-lg-2">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                      </div>
                      <div class="col-lg-10">
                        5. We enclose the following documents in compliance with these rules/regulations:
                      </div>
                      <div class="col-lg-2">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                      </div>
                      <div class="row justify-content-md-center">
                        <div class="col col-lg-1">
                          i
                        </div>
                        <div class="col-md-auto col-lg-7">
                            A certificate from our Company Secretary as in the specified format.
                        </div>
                        <div class="col col-lg-3">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        </div>
                      </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>