<div class="container">
    <div class="card mt-2">
        <div class="card-header p-2 text-center">
            <h5>FORM OPI: Section A</h5>
            <h6>(For the half year ended March/ September)</h6>
        </div>
    </div>

    <div class="card p-2">
        <p><b>Note:</b> To be filed by a person resident in India, other than a resident individual, making any Overseas
            Portfolio Investment (OPI) or transferring such investment during the reporting period (Only relevant
            sections of this form, as applicable, may be used)
            All amounts should be in actuals</p>
    </div>
<form [formGroup]="OpiFormlist">
    <tabset #tabset>
        <tab heading="Instructions">
            <div class="card mt-1 p-2">
                <div class="heading mt-2 mb-2 text-center"><b>Instructions for filling up Form OPI </b>
                </div>
                <hr>
                <p>
                    1) In the case of Mutual Funds, the details of Indian entity responsible for filing the
                    Form OPI (i.e Promoter/ AMC of that Mutual Fund, as decided by the Mutual Fund), may be
                    indicated in Section A (details of Indian entity), along with mentioning the name of the
                    Mutual Fund. <br>
                </p>
                <p>
                    2) Section C for Mutual Fund/ AIF/ VCF may be filled in by the Indian entity responsible
                    to file the Form OPI (as designated by the fund).<br>
                </p>
                <p>
                    3) The date may be mentioned in format DD/MM/YYYY format.<br>
                </p>
                <p>
                    4) All amounts should be in actuals only.<br>
                </p>
            </div>
        </tab>
        <tab heading="FORM OPI: Section A">
            <div class="card mt-1 p-2">
                <div class="heading mt-2 mb-2 text-center"><b>Particulars of the Indian Entity/Mutual Fund
                        (MF)</b>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4 mb-2">
                        <label class="form-label">Name of Indian entity/ MF
                        </label>
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_Name">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">LEI of Indian entity/ MF
                        </label>
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_LEI">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">PAN
                        </label>
                        <input type="text" class="form-control"  formControlName="OPI_Sec_A_PAN">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Address of Indian entity/ MF
                        </label>
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_Address">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">City
                        </label>
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_City">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">State
                        </label>
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_State">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">PIN code
                        </label>
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_PIN">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Net worth in INR (in case of Indian entity) as per last audited balance sheet
                        </label>
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_NetINR">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Whether the IE is listed
                        </label>
                        <div class="form-check form-check-inline"
                                        *ngFor="let fd of WhetherIElist">
                                        <input class="form-check-input" type="radio" id="{{fd.id}}"
                                            formControlName="WhetherIElist"
                                            value="{{fd.Type}}" style="cursor:pointer;">
                                        <label class="form-check-label" for="{{fd.id}}">{{fd.Type}}</label>
                                    </div>

                       <!--  <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="Yes" style="cursor:pointer;">
                            <label class="form-check-label" for="">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" value="No" style="cursor:pointer;">
                            <label class="form-check-label" for="">No</label>
                        </div> -->
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Contact person (name & designation)
                        </label>
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_ContactPerson">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">Mobile number
                        </label>
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_Mobile">
                    </div>
                    <div class="col-4 mb-2">
                        <label class="form-label">E-mail ID
                        </label>
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_EmailId">
                    </div>
                    <div class="heading">
                        <h6>A. OPI by Indian entity (Please refer to Schedule II & Proviso 2(iii) of Schedule V
                            of
                            OI Rules)</h6>
                    </div>
                    <div class="col-lg-6 mb-3">
                    </div>
                    <div class="col-lg-2">
                        <label class="form-label">USD
                        </label>
                    </div>
                    <div class="col-lg-2">
                        <label class="form-label">INR
                        </label>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">i. Net Amount of Investment held abroad (opening balance) at
                            cost basis
                        </label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_NetAmount_USD">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_NetAmount_INR">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">ii. Investments made during the half year (including
                            reinvestment)</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_Investments_USD">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_Investments_INR">
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label">iii. Sale/disinvestment made during the half year * </label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_Investments_USD">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_Investments_INR">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">iv. Net amount of Investment held abroad (closing balance)
                            (I+II-III)</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_NetAmountClosing_USD">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_NetAmountClosing_INR">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label"><b>Remittance amount</b></label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_RemittanceAmt_USD">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_RemittanceAmt_INR">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label"><b>Repatriation amount</b></label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_Repatriation_USD">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_Repatriation_INR">
                    </div>
                    <div class="heading">
                        <h6>B. OPI by resident individuals by way of ESOP/ Employee Benefits Scheme (EBS)
                            (Please
                            refer to Para 1 (2) (iii)(h) and para 3 of Schedule III of OI Rules) (reporting to
                            be
                            made by by the company/ branch/ office, as the case may be</h6>
                    </div>
                    <div class="col-lg-6 mb-3">
                    </div>
                    <div class="col-lg-2">
                        <label class="form-label">USD
                        </label>
                    </div>
                    <div class="col-lg-2">
                        <label class="form-label">INR
                        </label>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">i. Net Amount of ESOP/ EBS Investment held abroad (Opening
                            Balance) at cost basis
                        </label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_EBS_NetAmt_USD">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_EBS_NetAmt_INR">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">ii. Investments made during the Half Year (including
                            reinvestment)</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_EBS_Investments_USD">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_EBS_Investments_INR">
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label">iii. Disinvestments made during the Half Year * </label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_EBS_Disinvestment_USD">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_EBS_Disinvestment_INR">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">iv. Net amount of Investments held abroad (Closing Balance)
                            (I+II-III)</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_EBS_NetAmtClose_USD">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_EBS_NetAmtClose_INR">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label"><b>Remittance amount</b></label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_EBS_RemittanceAmt_USD">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_EBS_RemittanceAmt_INR">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label class="form-label"><b> amount</b></label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_EBS_RepatriationAmt_USD">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" formControlName="OPI_Sec_A_EBS_RepatriationAmt_INR">
                    </div>
                    <div class="heading"><b>Consolidated details of Employee Stock Ownership Plan (ESOP)/
                            Employee
                            Benefits Scheme should be reported as under by the company/ branch/ office, as the
                            case
                            may be</b>
                    </div>
                    <div class="container text-justify">
                        <p>a. We, ……………………………………….... (Indian Company / Office / Branch), hereby declare
                            that:<br>
                            <br>
                            M/s. ……………………………………………..………. (foreign company) has issued ……….(nature)<br> equity
                            capital/ %
                            interest to our employees / directors under ESOP/ Employee Benefits Scheme
                            <br>during
                            the
                            half year as under:<br><br>
                            (i) Equity capital/% interest allotted:<br>
                            (ii) Number of employees/ Directors who accepted shares/ interest: <br><br>


                            b. We, ……………………………………….... (Indian Company / Office / Branch), hereby declare
                            that:<br>
                            <br>
                            M/s. ……………………………………………..………. (foreign company) has repurchased …….. <br>(nature)
                            equity
                            capital from our employees /directors under ESOP/ Employee Benefits Scheme
                            during<br>
                            the
                            half year as under:<br><br>
                            (i) equity capital repurchased:<br>
                            (ii) Number of employees / Directors who sold equity capital/ interest: <br>
                        </p>
                    </div>
                    <div class="heading">
                        <h6><b>C. OPI by Mutual Funds (please refer to Para 2 of Schedule IV of OI Rules)</b>
                        </h6>
                    </div>
                </div>

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col" colspan="2">Opening balance</th>
                            <th scope="col" colspan="2">Purchase/ acquired</th>
                            <th scope="col" colspan="2">Sale/ disinvested*</th>
                            <th scope="col" colspan="2">Closing balance</th>
                            <th scope="col" colspan="2">Remittance from India</th>
                            <th scope="col" colspan="2">Repatriation to India</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td>USD</td>
                            <td>INR</td>
                            <td>USD</td>
                            <td>INR</td>
                            <td>USD</td>
                            <td>INR</td>
                            <td>USD</td>
                            <td>INR</td>
                            <td>USD</td>
                            <td>INR</td>
                            <td>USD</td>
                            <td>INR</td>

                        </tr>

                        <tr>
                            <td>i</td>
                            <td>Equity</td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Equity1_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Equity2_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Equity3_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Equity4_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Equity5_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Equity6_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Equity7_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Equity8_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Equity9_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Equity10_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Equity11_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Equity12_INR"></td>
                        </tr>
                        <tr>
                            <td>ii</td>
                            <td>Debt Instruments</td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_DebtInstrument1_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_DebtInstrument2_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_DebtInstrument3_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_DebtInstrument4_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_DebtInstrument5_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_DebtInstrument6_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_DebtInstrument7_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_DebtInstrument8_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_DebtInstrument9_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_DebtInstrument10_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_DebtInstrument11_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_DebtInstrument12_INR"></td>
                        </tr>
                        <tr>
                            <td>iii</td>
                            <td>ADR/GDR</td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ADR_GDR1_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ADR_GDR2_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ADR_GDR3_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ADR_GDR4_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ADR_GDR5_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ADR_GDR6_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ADR_GDR7_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ADR_GDR8_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ADR_GDR9_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ADR_GDR10_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ADR_GDR11_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ADR_GDR12_INR"></td>
                        </tr>
                        <tr>
                            <td>iv</td>
                            <td>ETF (Securities)</td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ETF1_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ETF2_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ETF3_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ETF4_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ETF5_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ETF6_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ETF7_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ETF8_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ETF9_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ETF10_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ETF11_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_ETF12_INR"></td>
                        </tr>
                        <tr>
                            <td>v</td>
                            <td>Mutual Funds</td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Mutual1_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Mutual2_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Mutual3_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Mutual4_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Mutual5_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Mutual6_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Mutual7_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Mutual8_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Mutual9_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Mutual10_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Mutual11_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Mutual12_INR"></td>
                        </tr>
                        <tr>
                            <td>vi</td>
                            <td>Others (Specify)</td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Others1_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Others2_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Others3_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Others4_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Others5_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Others6_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Others7_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Others8_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Others9_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Others10_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Others11_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Others12_INR"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Total(C)</td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Total1_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Total2_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Total3_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Total4_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Total5_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Total6_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Total7_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Total8_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Total9_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Total10_INR"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Total11_USD"></td>
                            <td><input type="text" class="form-control" formControlName="OPI_Sec_A_Total12_INR"></td>
                        </tr>
                    </tbody>
                </table>
                <p class="mb-6">* The disinvestment amount should correspond to the actual investment amount
                    made
                    and not the sale/market value on which disinvestment took place</p>
            </div>
        </tab>
        <tab heading="FORM OPI: Section B">
            <div class="card mt-1 p-2">
                <div class="heading mt-2 mb-2 text-center">
                    <b>Reporting of the Overseas Portfolio Investment (OPI) by Venture Capital Fund (VCF)/
                        Alternate
                        Investment Fund (AIF)</b>
                </div>
                <hr>
                <div class="heading">
                    <h6>I. Particulars of the Indian entity/ resident individual (RI) who has promoted/ invested
                        in
                        VCF/ AIF (Attach Separate sheet if there are multiple Indian entities/ RIs)</h6>
                </div>

                <div class="row p-4">
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">i. Name of the Indian entity/ RI
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_Name">
                    </div>

                    <div class="col-lg-8 mb-3">
                        <label class="form-label">ii. LEI of Indian entity</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_LEI">
                    </div>

                    <div class="col-lg-8 mb-3">
                        <label class="form-label">iii. PAN </label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_PAN">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">iv. Group to which the entity belongs</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_Group">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">v. Activity code of the Indian entity</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_Activity">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">vi. Address of the Indian entity/ RI</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_Address">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">vii. City</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_City">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">viii. State</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_State">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">ix. PIN Code</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_PINCode">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">x. Name of the contact person</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_ContactPerson">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">xi. Designation of the contact person</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_Designation">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">xii. Telephone No.</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_Telephone">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">xii. Mobile No. of the contact person</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_MobileCP">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">xiv. Fax No</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_FaxNo">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">xv. Email</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_Email">
                    </div>
                </div>
                <div class="heading">
                    <h6>II. Particulars of the Indian Company/ RI who manages the VCF/ AIF </h6>
                </div>
                <div class="row p-4">
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">i. Name of the Indian entity/ RI
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_VCF_Name">
                    </div>

                    <div class="col-lg-8 mb-3">
                        <label class="form-label">ii. PAN </label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_VCF_PAN">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">iii. Group to which the entity belongs</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_VCF_Group">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">iv. Activity code of the Indian Company</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_VCF_Activity">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">v. Address of the Indian entity/ RI</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_VCF_Address">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">vi. City</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_VCF_City">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">vii. State</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_VCF_State">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">viii. PIN Code</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_VCF_PINCode">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">ix. Name of the contact person</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_VCF_ContactPerson">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">x. Designation of the contact person</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_VCF_Designation">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">xi. Telephone No.</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_VCF_Telephone">
                    </div>

                    <div class="col-lg-8 mb-3">
                        <label class="form-label">xv. Email</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_VCF_Email">
                    </div>
                </div>
                <div class="heading">
                    <h6>II. Particulars of the Indian Company/ RI who manages the VCF/ AIF </h6>
                </div>
                <div class="row p-4">
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">i. Name of the VCF/AIF
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_AIF_Name">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">ii. Date of the SEBI Approval
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_AIF_Date">
                    </div>
                    <div class="col-lg-8 mb-3">
                        <label class="form-label">iii. Limit of the Overseas investment granted by SEBI (Amount
                            in
                            actuals in USD)
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" formControlName="OPI_Sec_B_AIF_SEBILimit">
                    </div>
                </div>
                <div class="heading">
                    <h6>IV. OPI by VCF/AIF (please refer to Para 2 of Schedule IV of OI Rules)</h6>
                </div>
                <div class="row p-4">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col" colspan="2">Opening balance</th>
                                <th scope="col" colspan="2">Purchase/ acquired</th>
                                <th scope="col" colspan="2">Sale/ disinvested*</th>
                                <th scope="col" colspan="2">Closing balance</th>
                                <th scope="col" colspan="2">Remittance from India</th>
                                <th scope="col" colspan="2">Repatriation to India</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td>USD</td>
                                <td>INR</td>
                                <td>USD</td>
                                <td>INR</td>
                                <td>USD</td>
                                <td>INR</td>
                                <td>USD</td>
                                <td>INR</td>
                                <td>USD</td>
                                <td>INR</td>
                                <td>USD</td>
                                <td>INR</td>

                            </tr>

                            <tr>
                                <td>i</td>
                                <td>Equity</td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Equity1_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Equity2_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Equity3_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Equity4_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Equity5_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Equity6_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Equity7_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Equity8_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Equity9_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Equity10_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Equity11_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Equity12_INR"></td>
                            </tr>
                            <tr>
                                <td>ii</td>
                                <td>Equity linked instrument</td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_EquityLinked1_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_EquityLinked2_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_EquityLinked3_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_EquityLinked4_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_EquityLinked5_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_EquityLinked6_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_EquityLinked7_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_EquityLinked8_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_EquityLinked9_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_EquityLinked10_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_EquityLinked11_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_EquityLinked12_INR"></td>
                            </tr>
                            <tr>
                                <td>iii</td>
                                <td>Other permissible instrument (furnish the details of instrument)</td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Permissible1_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Permissible2_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Permissible3_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Permissible4_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Permissible5_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Permissible6_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Permissible7_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Permissible8_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Permissible9_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Permissible10_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Permissible11_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Permissible12_INR"></td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>Total</td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Total1_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Total2_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Total3_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Total4_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Total5_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Total6_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Total7_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Total8_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Total9_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Total10_INR"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Total11_USD"></td>
                                <td><input type="text" class="form-control" formControlName="OPI_Sec_B_Total12_INR"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </tab>

        <tab heading="FORM OPI: Section C">
            <div class="card mt-1 p-2">

                <p class="text-center">
                    <b>Certificate from Indian entity/ Mutual Fund/AIF/VCF (Strike out whichever is not
                        applicable)</b>
                </p>
                <hr>
                <p>
                    We, the Indian entity/ Mutual Fund/ AIF/ VCF further confirm that the investment made as
                    above are in compliance with the provisions contained in OI Rules.
                </p>
                <hr>
                <p>
                    All the transactions effected during the half year are included above and we hereby
                    certify
                    that the information furnished above are true and correct. We also duly acknowledge that
                    if
                    any information furnished by us is found to be false and/or incorrect, it shall be
                    construed
                    that the reporting requirements under FEMA,1999 have not been complied with.
                </p>
                <hr>
                <div class="row p-4">
                    <div class="col-lg-8 mb-3">
                        <div class="row">
                            <div class="col-lg-8 mb-3">
                                <label class="form-label">Signature of the authorized official of the Indian
                                    entity
                                    approved by the Board or equivalent body, as the case may be/ Mutual
                                    Fund/
                                    AIF/
                                    VCF
                                </label>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="OPI_Sec_C_Signature">
                            </div>

                            <hr>
                            <div class="col-lg-8 mb-3">
                                <label class="form-label">Name & designation of the Authorized Official of
                                    the
                                    Indian entity/ Mutual Fund/ AIF/ VCF
                                </label>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" formControlName="OPI_Sec_C_Name">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 p-4 text-center">
                        <label class="form-label"  formControlName="OPI_Sec_C_Stamp">Stamp/Seal
                        </label>
                    </div>
                </div>
                <hr>
                <div class="row p-4">
                    <div class="col-3 mb-2">
                        <label class="form-label">Place
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" formControlName="OPI_Sec_C_Place">
                    </div>
                    <div class="col-3 mb-2">
                        <label class="form-label">Date
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" formControlName="OPI_Sec_C_Date">
                    </div>
                    <hr class="mt-2">
                    <div class="col-3 mb-2">
                        <label class="form-label">Telephone No.
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" formControlName="OPI_Sec_C_Telephone">
                    </div>
                    <div class="col-3 mb-2">
                        <label class="form-label">Email ID
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" formControlName="OPI_Sec_C_EmailId">
                    </div>
                </div>
                <div class="col-lg-12 text-center mb-4">
                    <button class="btn btn-primary" type="button">Submit</button>
                </div>
            </div>

            
            
        </tab>
    </tabset>
</form>
    <!--  <button (click)='goto(0)'>Go to 1</button>
      <button (click)='goto(1)'>Go to 2</button>
      <button (click)='goto(2)'>Go to 3</button>
      <button (click)='goto(3)'>Go to 4</button>  -->
</div>