<div class="container">
    <div class="card mt-2">
        <div class="card-header p-2 text-center">
            <h5>FORM OPI: Section A</h5>
            <h6>(For the half year ended March/ September)</h6>
        </div>
    </div>

    <div class="card p-2">
        <p><b>Note:</b> To be filed by a person resident in India, other than a resident individual, making any Overseas
            Portfolio Investment (OPI) or transferring such investment during the reporting period (Only relevant
            sections of this form, as applicable, may be used)
            All amounts should be in actuals</p>
    </div>
    <div class="container-fluid position-relative d-flex p-0">
        <div class="container-fluid pt-2">

            <tabset #tabset>
                <tab heading="FORM OPI: Section A">
                    <div class="heading mt-2 mb-2"><b>Particulars of the Indian Entity/Mutual Fund (MF)</b></div>
                    <div class="row">
                        <div class="col-4 mb-2">
                            <label class="form-label">Name of Indian entity/ MF
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-4 mb-2">
                            <label class="form-label">LEI of Indian entity/ MF
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-4 mb-2">
                            <label class="form-label">PAN
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-4 mb-2">
                            <label class="form-label">Address of Indian entity/ MF
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-4 mb-2">
                            <label class="form-label">City
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-4 mb-2">
                            <label class="form-label">State
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-4 mb-2">
                            <label class="form-label">PIN code
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-4 mb-2">
                            <label class="form-label">Net worth in INR (in case of Indian entity) as per last audited
                                balance sheet
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-4 mb-2">

                            <label class="form-label">Whether the IE is listed
                            </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="Yes" style="cursor:pointer;">
                                <label class="form-check-label" for="">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="No" style="cursor:pointer;">
                                <label class="form-check-label" for="">No</label>
                            </div>
                        </div>
                        <div class="col-4 mb-2">
                            <label class="form-label">Contact person (name & designation)
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-4 mb-2">
                            <label class="form-label">Mobile number
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-4 mb-2">
                            <label class="form-label">E-mail ID
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="heading">
                            <h6>A. OPI by Indian entity (Please refer to Schedule II & Proviso 2(iii) of Schedule V of
                                OI Rules)</h6>
                        </div>
                        <div class="col-lg-6 mb-3">
                        </div>
                        <div class="col-lg-2">
                            <label class="form-label">USD
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="form-label">INR
                            </label>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label class="form-label">i. Net Amount of Investment held abroad (opening balance) at cost
                                basis
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label class="form-label">ii. Investments made during the half year (including
                                reinvestment)</label>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>

                        <div class="col-lg-6 mb-3">
                            <label class="form-label">iii. Sale/disinvestment made during the half year * </label>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label class="form-label">iv. Net amount of Investment held abroad (closing balance)
                                (I+II-III)</label>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label class="form-label"><b>Remittance amount</b></label>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label class="form-label"><b>Repatriation amount</b></label>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="heading">
                            <h6>B. OPI by resident individuals by way of ESOP/ Employee Benefits Scheme (EBS) (Please
                                refer to Para 1 (2) (iii)(h) and para 3 of Schedule III of OI Rules) (reporting to be
                                made by by the company/ branch/ office, as the case may be</h6>
                        </div>
                        <div class="col-lg-6 mb-3">
                        </div>
                        <div class="col-lg-2">
                            <label class="form-label">USD
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="form-label">INR
                            </label>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label class="form-label">i. Net Amount of ESOP/ EBS Investment held abroad (Opening
                                Balance) at cost basis
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label class="form-label">ii. Investments made during the Half Year (including
                                reinvestment)</label>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>

                        <div class="col-lg-6 mb-3">
                            <label class="form-label">iii. Disinvestments made during the Half Year * </label>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label class="form-label">iv. Net amount of Investments held abroad (Closing Balance)
                                (I+II-III)</label>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label class="form-label"><b>Remittance amount</b></label>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label class="form-label"><b>Repatriation amount</b></label>
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-2">
                            <input type="text" class="form-control">
                        </div>
                        <div class="heading"><b>Consolidated details of Employee Stock Ownership Plan (ESOP)/ Employee
                                Benefits Scheme should be reported as under by the company/ branch/ office, as the case
                                may be</b>
                        </div>
                        <div class="container text-justify">
                            <p>a. We, ……………………………………….... (Indian Company / Office / Branch), hereby declare that:<br>
                                <br>
                                M/s. ……………………………………………..………. (foreign company) has issued ……….(nature)<br> equity
                                capital/ %
                                interest to our employees / directors under ESOP/ Employee Benefits Scheme <br>during
                                the
                                half year as under:<br><br>
                                (i) Equity capital/% interest allotted:<br>
                                (ii) Number of employees/ Directors who accepted shares/ interest: <br><br>


                                b. We, ……………………………………….... (Indian Company / Office / Branch), hereby declare that:<br>
                                <br>
                                M/s. ……………………………………………..………. (foreign company) has repurchased …….. <br>(nature) equity
                                capital from our employees /directors under ESOP/ Employee Benefits Scheme during<br>
                                the
                                half year as under:<br><br>
                                (i) equity capital repurchased:<br>
                                (ii) Number of employees / Directors who sold equity capital/ interest: <br>
                            </p>
                        </div>
                        <div class="heading">
                            <h6><b>C. OPI by Mutual Funds (please refer to Para 2 of Schedule IV of OI Rules)</b></h6>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered" border="1">
                        <tr>
                            <th scope="col">Header</th>
                            <th scope="col">Header</th>
                            <th scope="col" colspan="2">Header</th>
                        </tr>
                        <tr>
                            <th scope="row">&nbsp;</th>
                            <td>&nbsp;</td>
                            <td>Split this one</td>
                            <td>into two columns</td>
                        </tr>
                    </table>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col" colspan="2">Opening balance</th>
                                <th scope="col" colspan="2">Purchase/ acquired</th>
                                <th scope="col" colspan="2">Sale/ disinvested*</th>
                                <th scope="col" colspan="2">Closing balance</th>
                                <th scope="col" colspan="2">Remittance from India</th>
                                <th scope="col" colspan="2">Repatriation to India</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td>USD</td>
                                <td>INR</td>
                                <td>USD</td>
                                <td>INR</td>
                                <td>USD</td>
                                <td>INR</td>
                                <td>USD</td>
                                <td>INR</td>
                                <td>USD</td>
                                <td>INR</td>
                                <td>USD</td>
                                <td>INR</td>

                            </tr>

                            <tr>
                                <td>i</td>
                                <td>Equity</td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>ii</td>
                                <td>Debt Instruments</td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>ii</td>
                                <td>Equity</td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>iii</td>
                                <td>ADR/GDR</td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>iv</td>
                                <td>ETF (Securities)</td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>v</td>
                                <td>Mutual Funds</td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>vi</td>
                                <td>Others (Specify)</td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Total(C)</td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="mb-6">* The disinvestment amount should correspond to the actual investment amount made
                        and not the sale/market value on which disinvestment took place</p>
                </tab>
                <tab heading="FORM OPI: Section B">FORM OPI: Section B</tab>
                <tab heading="FORM OPI: Section C">FORM OPI: Section C</tab>
            </tabset>

        </div>
    </div>

    <!--  <button (click)='goto(0)'>Go to 1</button>
      <button (click)='goto(1)'>Go to 2</button>
      <button (click)='goto(2)'>Go to 3</button>
      <button (click)='goto(3)'>Go to 4</button>  -->
</div>